@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');
/*

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Roboto;
}

/* Pod tento řádek budeme psát kód */
h1,
h2,
h3 {
  color: #0d46a0;
  text-align: center;
  font-family: Raleway;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.obsah {
  padding-top: 24px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  color: #ffea00;
  font-family: Raleway;
  list-style: none;
}

.zahlavi ul {
  display: flex;
}

.zahlavi li {
  width: 50%;
  list-style: none;
  text-align: left;
}

.header {
  text-align: center;
}

nav {
  display: block;
}
.nav {
  color: #ffea00;
  font-family: Raleway;
  list-style: none;
  line-height: 1.4;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  border-bottom: 1px solid #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}

.nav ul {
  display: flex;
}

.nav li {
  width: 33.333%;
  list-style: none;
  text-align: right;
}

.aboutme {
  background-color: #0d46a0;
  text-align: center;
  color: #ffffff;
  padding: 25px;
}

.aboutme h1 {
  color: #ffffff;
}
/*-- border-radius:50px */

.aboutme img {
  border-radius:100px;
}

.projects {
  background-color: #f5f5f5;
  text-align: center;
}

.projects h2 {
  padding-top: 25px;
}

.vedle {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vedle li {
  width: 50%;
  padding: 15px;
}

.vedle img {
  max-width: 40%;
  max-height: 40%;
}

.vedlesebe {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vedlesebe li {
  width: 25%;
  padding: 5px;
}

.vedlesebe img {
  max-width: 40%;
  max-height: 40%;
}

.contact {
  list-style: none;
  text-align: center;
}

.contact ul {
  display: flex;
}

.contact li {
  width: 50%;
  list-style: none;
  text-align: left;
}

.contact img {
  max-width: 50%;
}

footer {
  background-color: #0d46a0;
  text-align: center;
  color: #ffffff;
  padding: 25px;

}
footer a {
  color: #ffea00;
}

